#slideMe {
    width:500px;
    height:340px;
    overflow: hidden;
    position:relative;
    list-style: none outside none;
    padding:0;
    margin:0;
}
#slideMe li {
    position: absolute;
    top: 0px;
    left: 0px;
    display:none;
}
#slideMe li:first-child {
    display:block;
}

#slideMe2 {
    width:500px;
    height:340px;
    overflow: hidden;
    position:relative;
    list-style: none outside none;
    padding:0;
    margin:0;
}
#slideMe2 li {
    position: absolute;
    top: 0px;
    left: 0px;
    display:none;
}
#slideMe2 li:first-child {
    display:block;
}
